/* Code by Iddan Aaronsohn, 2016 */
/* based on https://desandro.github.io/3dtransforms/docs/cube.html */

.logo h1 {
  width: 35px; /* x1 */
  height: 35px; /* x1 */
  position: relative;
  margin: 11.14px; /* :π */
  display: block;
  transform-origin: center;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  float: right;
}

.logo h1 a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
}

.logo h1 a span {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 35px; /* x1 */
  background: white;
  text-align: center;
  display: block;
}

.logo h1 a span b {
  width: calc(93%);
  height: calc(93%);
  background: #ef3e33;
  color: white;
  display: block;
  position: absolute;
  font-weight: 600;
  top: 3.5%;
  left: 3.5%;
}

.logo h1 a span:nth-child(1) {
  transform: rotateY(0deg) translateZ(17.5px); /* x0.5 */
  -webkit-transform: rotateY(0deg) translateZ(17.5px);
}
.logo h1 a span:nth-child(2) {
  transform: rotateY(180deg) translateZ(17.5px); /* x0.5 */
  -webkit-transform: rotateY(180deg) translateZ(17.5px);
}
.logo h1 a span:nth-child(3) {
  transform: rotateY(90deg) translateZ(17.5px); /* x0.5 */
  -webkit-transform: rotateY(90deg) translateZ(17.5px);
}
.logo h1 a span:nth-child(4) {
  transform: rotateY(-90deg) translateZ(17.5px); /* x0.5 */
  -webkit-transform: rotateY(-90deg) translateZ(17.5px);
}
.logo h1 a span:nth-child(5) {
  transform: rotateX(90deg) translateZ(17.5px); /* x0.5 */
  -webkit-transform: rotateX(90deg) translateZ(17.5px);
}
.logo h1 a span:nth-child(6) {
  transform: rotateX(-90deg) translateZ(17.5px); /* x0.5 */
  -webkit-transform: rotateX(-90deg) translateZ(17.5px);
}

.logo h1 a {
  transform: rotateX(-35deg) rotateY(-45deg);
}
